{% extends 'base.html' %}
{% load static %}
{% block toggler %}
   		<li class="nav-item"><a class="nav-link" href="{% url 'store:home-page' %}">Home</a>
                    <span class="sr-only">(current)</span>
		</li>
        <li class="nav-item"><a class="nav-link" href="{% url 'store:products-list' %}">Products</a>
                    <span class="sr-only">(current)</span>
        </li>
        <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">More</a>
            <span class="sr-only">(current)</span>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'store:about-us' %}">About Us</a>
              <a class="dropdown-item" href="{% url 'store:contact-us' %}">Contact Us</a>
              <a class="dropdown-item" href="{% url 'store:terms' %}">Terms & Conditions</a>
            </div>
        </li>
        {% if request.user.is_authenticated %}
        <li class="nav-item"><a class="nav-link" href="{% url 'store:cart-page'%}">Cart</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'logout-page' %}">Logout</a></li>
        {% else %}
        <li class="nav-item"><a class="nav-link" href="{% url 'login-page' %}">Login</a></li>
        {% endif %}
{% endblock toggler %}
{% block content %}
    <!-- Page Content -->
    <div class="page-heading about-heading header-text" style="background-image: url(assets/images/heading-1-1920x500.jpg);">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h2>About US</h2>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="best-features about-features">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h1 style="color:#806200">The Mind Behind:</h1>
            </div>
          </div>
          <div class="col-md-6">
            <div class="right-image" style="width:80%">
              <img src="{% static 'images/about_us.jpg' %}" alt="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="left-content"> 
                <h4 style="color:#806200">  What is AHD?  </h4>
                  <p>Anju’s Home Decore endeavors to provide personally assured best quality home decore products to each and every individual associated with us.
                  After being into this industry for over 10 years now, we have decided to elevate our game with today's digital world.</p> 


                <h4 style="color:#806200"> Our belief lies in Honesty and Integrity:  </h4> 
                  <p>"No legacy is so rich as honesty. – William Shakespeare" <br>
                  We strongly believe that honesty pays off with greater trust and understanding. Our objective to grow and maintain our promise with every customer availing to our services. With utmost happiness, we assure you to express the former by personally cherry-picking every product in our store with the best in our consience.</p>
            </div>
            <ul class="social-icons">
                <li><a style="padding-top:15px;" href="mailto:AnjusHomeDecore@gmail.com" target="_blank"><i class="fa fa-google"></i></a></li>
                <li><a style="padding-top:15px;" href="https://www.instagram.com/anjushomedecor/"target="_blank"><i class="fa fa-instagram"></i></a></li>
                <li><a style="padding-top:15px;" href="https://wa.me/919329997576?text=We%20are%20glad%20to%20help%20you" target="_blank"><i class="fa fa-whatsapp"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
{% endblock content %}
