{% load static %}

<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'images/small_logo (2)_.png' %}">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <title>AHD</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.css' %}">

  </head>

  <body>
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->
    <!-- Header -->
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a href="{% url 'store:home-page' %}">
            <img src="{% static 'images/small_logo (1).jpg' %}" width="60px" alt="" class="brand-logo">
            </a>
            <a class="navbar-brand my" href="{% url 'store:home-page' %}">
                <h2 class="website-header">
                    <span class="web-h1" style="font-size: 1.5rem">A</span><em class="web-h1">nju's</em>
                    <span class="web-h1" style="font-size: 1.5rem">H</span><em class="web-h1">ome</em>
                    <span class="web-h1" style="font-size: 1.5rem">D</span><em class="web-h1">ecor</em>
                </h2>
            </a>
        
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                {% block toggler %}
                {% endblock toggler %}
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <div>
        <a href="https://api.whatsapp.com/send/?phone=917031691369&text&app_absent=0" target="_blank">
            <img src="{% static 'images/whatsapp-icon.png' %}" class="wa-btn">

        </a>
    </div>
    {% block content %}
    {% endblock content %}
    <footer>
        <div class="call-to-action">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="inner-content shadow rounded">
                            <div class="row">
                                <div class="col-md-8">
                                    <h4 style="color:#cd9921">Anju's Home Decore </h4>
                  
                                    <p>We value customers' feedback the most. Kindly reach out to us for any assistance.</p>
                                </div>
                                <div class="col-lg-4 col-md-6 text-right">
                                    <a href="{% url 'store:contact-us' %}" class="filled-button">Contact Us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><br><br><br>
        <hr>
        <div class="row">
          <div class="col-3">
          <a href="{% url 'store:home-page' %}">Anju's Home Decore</a>
          <!-- <small class="d-block mb-3 text-muted">&copy; 2017-2020</small> -->
          </div>
          <div class="col-3">
          <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="{% url 'store:home-page' %}">Featured Products</a></li>
              <li><a class="text-muted" href="{% url 'store:products-list' %}">All Products</a></li>
          </ul>
          </div>
          <div class="col-3">
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="{% url 'store:about-us' %}">Know Us</a></li>
            <li><a class="text-muted" href="https://www.google.com/maps?q=22.7546691,78.3536056&z=17&hl=en">Location</a></li>
            <li><a class="text-muted" href="{% url 'store:contact-us' %}">Contact Us</a></li>
          </ul>
          </div>
          <div class="col-3">
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="{% url 'store:terms' %}">Terms & Condition</a></li>
            <li><a class="text-muted" href="{% url 'store:terms' %}">Privacy</a></li>
          </ul>
          </div>
      </div>
    </footer>
    <br>
    <br>



      <script>
      if(screen.width<993){
        document.getElementById("website-header").innerHTML="AHD";
      }

      </script>

    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- Additional Scripts -->
    <script src="{% static 'js/custom.js' %}"></script>
    <script src="{% static 'js/owl.js' %}"></script>

    {% block extra_scripts %}
    {% endblock extra_scripts %}
  </body>
</html>