{% load static %}

<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'images/small logo.svg' %}">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>AHD</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.css' %}">

  </head>

  <body>
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->
    <!-- Header -->
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <!-- <a class="navbar-brand brand-logo" href="{% url 'store:home-page' %}">
              <img src="{% static 'images/small_logo.jpeg' %}" width="60" alt=""></a> -->
            <a href="{% url 'store:home-page' %}"><img src="{% static 'images/small_logo.svg' %}" width="60" alt="" class="brand-logo"></a>
            <a class="navbar-brand" href="{% url 'store:home-page' %}">
                    <h2 class="website-header">
                        <span class="web-h1" style="font-size: 1.5rem">A</span><em class="web-h1">nju's</em>
                        <span class="web-h1" style="font-size: 1.5rem">H</span><em class="web-h1">ome</em>
                        <span class="web-h1" style="font-size: 1.5rem">D</span><em class="web-h1">ecor</em>
                    </h2>
                </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                {% block toggler %}
                {% endblock toggler %}
            </ul>
          </div>
        </div>
      </nav>
    </header>
    {% block content %}
    {% endblock content %}
    <footer><div class="call-to-action">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="inner-content">
              <div class="row">
                <div class="col-md-8">
                  <h4 style="color:#cd9921">Anju's Home Decor </h4>
                  <p>We value customers' feedback the most. Kindly reach out to us for any assistance.</p>
                </div>
                <div class="col-lg-4 col-md-6 text-right">
                  <a href="{% url 'store:contact-us' %}" class="filled-button">Contact Us</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div></footer>
    <br>
    <br>
    <style>
    .website-header{
      padding-top:10px;
    }
    .brand-logo{
      padding-right: 10px;
    }
      @media only screen and (max-width:993px){
        .website-header{
           padding-left: 50px;
           padding-top:0;
        }
        .brand-logo{
          margin-top: 5px;
          margin-left:20px;
        }
      }
      @media only screen and (max-width:437px){
        /* .navbar .navbar-brand h2{
          font-size: 15px;
        } */
        .web-h1{
          font-size: 1.2rem;
        }
        .navbar-toggler-icon{
          padding-top: 2px;
          padding-left: 10px;
        }
      }
</style>


      <script>
      if(screen.width<993){
        document.getElementById("website-header").innerHTML="AHD";
      }

      </script>

    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- Additional Scripts -->
    <script src="{% static 'js/custom.js' %}"></script>
    <script src="{% static 'js/owl.js' %}"></script>
  </body>
</html>
