{% extends 'base.html' %}
{% load static %}
{% block toggler %}
   		<li class="nav-item"><a class="nav-link" href="{% url 'store:products-list' %}">Products</a>
                    <span class="sr-only">(current)</span>
		</li>
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">More</a>
			<span class="sr-only">(current)</span>
			<div class="dropdown-menu">
			  <a class="dropdown-item" href="{% url 'store:about-us' %}">About Us</a>
			  <a class="dropdown-item" href="{% url 'store:blogs' %}">Blog</a>
			  <a class="dropdown-item" href="{% url 'store:contact-us' %}">Contact Us</a>
			  <a class="dropdown-item" href="{% url 'store:terms' %}">Terms & Conditions</a>
			</div>
		</li>
		{% if request.user.is_authenticated %}
		<li class="nav-item active"><a class="nav-link" href="{% url 'store:cart-page'%}">Cart</a></li>
		<li class="nav-item"><a class="nav-link" href="{% url 'logout-page' %}">Logout</a></li>
		{% else %}
		<li class="nav-item"><a class="nav-link" href="{% url 'login-page' %}">Login</a></li>
		{% endif %}
{% endblock toggler %}
{% block content %}
<!-- Page Content -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <div class="page-heading about-heading header-text" style="background-image: url(static/images/heading-6-1920x500.jpg);">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h2>Cart</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
	<div class="mt-5 pt-4">
    	{% if messages %}
        	{% for message in messages %}
        	<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
          	{{ message }}
          	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
            	<span aria-hidden="true">&times;</span>
          	</button>
        	</div>
        	{% endfor %}
    	{% endif %}
    </div>
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div class="box-element">
				<br>
				<br>
				<br>
				 <table class="table">
					<thead>
					<tr>
						<th scope="col">No.</th>
						<th scope="col">Name</th>
						<th scope="col">Price</th>
						<th scope="col" style="text-align:center;">Quantity</th>
						<th scope="col">Total Price</th>
					</tr>
					</thead>
					<tbody>
					{% for order_item in object.items.all %}
					<tr>
						<th scope="row">{{ forloop.counter }}</th>
						<td>
							<a href="{% url 'store:product-detail' order_item.product.slug%}">{{ order_item.product.title }}</a>
						</td>
						<td>{{ order_item.product.price|floatformat:2 }}</td>
						<td style="text-align:center;">
							<a href="{% url 'store:remove-single' order_item.product.slug %}">
								<i class="fas fa-minus fa-xs" style="color:#000;font-size:10px;" aria-hidden="true"></i>
							</a>
							{{ order_item.quantity }}
							<a href="{% url 'store:add-cart' order_item.product.slug %}">
								<i class="fas fa-plus fa-xs" style="color:#000;font-size:10px;" aria-hidden="true"></i>
							</a>
						</td>
						<td>
						{% if order_item.product.discount_price %}
							Rs. {{ order_item.get_total_discount_item_price|floatformat:2 }}
						{% else %}
							Rs. {{ order_item.get_total_item_price|floatformat:2 }}
						{% endif %}
						<a style='color: black;' href="{% url 'store:remove-cart' order_item.product.slug %}">
							<i class="fas fa-trash float-right"></i>
						</a>
						</td>
					</tr>
					{% empty %}
					<tr>
						<td colspan='5'>Your cart is empty</td>
					</tr>
					<tr>
						<td colspan="5">
						<!-- <a class='btn btn-primary float-right' href="{% url 'store:home-page' %}">Continue shopping</a> -->
						</td>
					</tr>
					{% endfor %}
					{% if object.get_total %}
					<tr>
						<td colspan="4"><b>Order Total</b></td>
						<td><b>Rs. {{ object.get_total|floatformat:2 }}</b></td>
					</tr>
					{% endif %}
					</tbody>
				 </table>
				<br>
				<br>
				<a  style="float:left; margin:5px;" class="btn btn-outline-warning" href="{% url 'store:products-list' %}">Continue Shopping</a>
				<a  style="float:right; margin:5px;" class="btn btn-success" href="{% url 'store:checkout-page' %}">Checkout</a>
			</div>
		</div>
	</div>
</div>
<br>
<br>
<br>
<br>
{% endblock content %}
