{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block toggler %}
        <li class="nav-item"><a class="nav-link" href="{% url 'store:home-page' %}">Home</a>
                    <span class="sr-only">(current)</span>
        </li>
   		<li class="nav-item"><a class="nav-link" href="{% url 'store:products-list' %}">Products</a>
                    <span class="sr-only">(current)</span>
		</li>
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">More</a>
			<span class="sr-only">(current)</span>
			<div class="dropdown-menu">
			  <a class="dropdown-item" href="{% url 'store:about-us' %}">About Us</a>
			  <a class="dropdown-item" href="{% url 'store:contact-us' %}">Contact Us</a>
			  <a class="dropdown-item" href="{% url 'store:terms' %}">Terms & Conditions</a>
			</div>
		</li>
		{% if request.user.is_authenticated %}
		<li class="nav-item active"><a class="nav-link" href="{% url 'store:cart-page'%}">Cart</a></li>
		<li class="nav-item"><a class="nav-link" href="{% url 'logout-page' %}">Logout</a></li>
		{% else %}
		<li class="nav-item"><a class="nav-link" href="{% url 'login-page' %}">Login</a></li>
		{% endif %}
{% endblock toggler %}
{% block content %}
<div class="page-heading about-heading header-text" style="background-image: url(static/images/heading-6-1920x500.jpg);">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h2>Checkout</h2>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="products call-to-action">
      <div class="container">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="row">
                  <div class="col-6">
                       <em>Sub-total</em>
                  </div>

                  <div class="col-6 text-right">
                       <strong>Rs. {{ order.get_total }}</strong>
                  </div>
            </div>
          </li>

        </ul>

        <br>

        <div class="inner-content">
          <div class="contact-form">
               <form method="POST">
                  {% csrf_token %}
                   <div class='hideable_shipping_form'>
                       <div class="row">
                            <div class="col-sm-6 col-xs-12">
                                 <div class="form-group">
                                      <!--<input type="text" class="form-control">-->
                                      {{ form.phone | as_crispy_field}}
                                 </div>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                 <div class="form-group">
                                      {{ form.address | as_crispy_field}}
                                 </div>
                            </div>
                       </div>
                       <div class="row">
                            <div class="col-sm-6 col-xs-12">
                                <div class="form-group">
                                    {{ form.city | as_crispy_field}}
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <div class="form-group">
                                     {{ form.state | as_crispy_field}}
                                </div>
                            </div>
                           <div class="col-sm-6 col-xs-12">
                                <div class="form-group">
                                     {{ form.zip | as_crispy_field}}
                                </div>
                           </div>
                             <div class="col-sm-6 col-xs-12">
                                 <div class="form-group">
                                     <label class="control-label">Country:</label>
                                      <select class="form-control">
                                          <option value="">India</option>
                                      </select>
                                 </div>
                             </div>
                           <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="control-input" name="set_default" id="set_default">
                              <label class="control-label" for="set_default">Save as default shipping address</label>
                           </div>
                       </div>
                   </div>
                   <div class="row">
                       <div class="column">
                           <div class="custom-control custom-checkbox">
                               <input type="checkbox" class="control-input">
                               <label class="control-label">I agree with the <a href="{% url 'store:terms' %}" target="_blank">Terms &amp; Conditions</a></label>
                           </div>
                           {% if default_address %}
                           <div class="custom-control custom-checkbox">
                               <input type="checkbox" class="control-input" name="use_default" id="use_default">
                               <label class="control-label" for="use_default">Use default shipping address: {{ default_address.address|truncatechars:50 }}</label>
                           </div>
                           {% endif %}
                       </div>
                   </div>
                   <div class="clearfix">
                        <button  type="submit" class="filled-button pull-left">
                            <a href="{% url 'store:cart-page' %}" >Back</a>
                        </button>

                        <button type="submit" class="filled-button pull-right">
                            <a href="{% url 'store:payment-page' %}" >Place Order</a>
                        </button>
                   </div>
               </form>
          </div>
        </div>
      </div>
    </div>
<br>
<br>
<br>
<br>
{% endblock content %}

{% block extra_scripts %}
<script>
var hideable_shipping_form = $('.hideable_shipping_form');

var use_default = document.querySelector("input[name=use_default]");

use_default.addEventListener('change', function() {
  if (this.checked) {
    hideable_shipping_form.hide();
  } else {
    hideable_shipping_form.show();
  }
})
</script>
{% endblock extra_scripts %}