{% extends 'base.html' %}
{% load static %}
{% block toggler %}
        <li class="nav-item"><a class="nav-link" href="{% url 'store:home-page' %}">Home</a>
                    <span class="sr-only">(current)</span>
        </li>
        <li class="nav-item"><a class="nav-link" href="{% url 'store:products-list' %}">Products</a>
                    <span class="sr-only">(current)</span>
        </li>
        <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">More</a>
            <span class="sr-only">(current)</span>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'store:about-us' %}">About Us</a>
              <a class="dropdown-item" href="{% url 'store:contact-us' %}">Contact Us</a>
              <a class="dropdown-item" href="{% url 'store:terms' %}">Terms & Conditions</a>
            </div>
        </li>
        {% if request.user.is_authenticated %}
        <li class="nav-item"><a class="nav-link" href="{% url 'store:cart-page'%}">Cart</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'logout-page' %}">Logout</a></li>
        {% else %}
        <li class="nav-item"><a class="nav-link" href="{% url 'login-page' %}">Login</a></li>
        {% endif %}
{% endblock toggler %}
{% block content %}
<!-- Page Content -->
    <div class="page-heading contact-heading header-text" style="background-image: url(assets/images/heading-4-1920x500.jpg);">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h2>Contact Us</h2>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="find-us">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2 style="color:#806200">Our Location on Maps</h2>
            </div>
          </div>
          <div class="col-md-8">
            <div id="map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3679.2885867423292!2d78.35141691496281!3d22.754669085089528!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMjLCsDQ1JzE2LjgiTiA3OMKwMjEnMTMuMCJF!5e0!3m2!1sen!2sin!4v1624820050238!5m2!1sen!2sin"  width="100%" height="400px"frameborder="0" style="border:20px; border-color:#806200" allowfullscreen=""></iframe>
            </div>
          </div>
          <div class="col-md-4">
            <div class="left-content">
              <h4 style="color:#806200">Our Address</h4>
              <p>  
              C/o NDJ Enterprises, Hotel Geetanjali<br>
              Shobhapur Road, Pipariya<br>
              District & State – Hoshangabad, Madhya Pradesh<br>
              Pin Code: 461775
              </p>
              <ul class="social-icons">
                <li><a style="padding-top:15px;" href="mailto:AnjusHomeDecore@gmail.com" target="_blank"><i class="fa fa-google"></i></a></li>
                <li><a style="padding-top:15px;" href="https://www.instagram.com/anjushomedecor/"target="_blank"><i class="fa fa-instagram"></i></a></li>
                <li><a style="padding-top:15px;" href="https://wa.me/919329997576?text=We%20are%20glad%20to%20help%20you" target="_blank"><i class="fa fa-whatsapp"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
  </div>
</div>
{% endblock %}
