<div class="container">
  <div class="row">
    {% for p in list_products %}
        <div class="col-md-4">
          <div class="product-item">
            <a href="{{ p.get_absolute_url }}"><img src="{{ p.image.url }}" alt=""></a>
              <div class="down-content">
                <a href="{{ p.get_absolute_url }}"><h4>{{ p.title }} ({{ p.size }})</h4></a>
                  <h6>
                    {% if p.discount_price %}
                    <small><del>Rs.{{ p.price }}</del></small>Rs.{{ p.discount_price }}
                    {% else %}
                    Rs.{{ p.price}}
                    {% endif %}
                  </h6>
                  <p>{{ p.description|truncatechars:40 }}</p>
              </div>
          </div>
        </div>
    {% endfor %}
  </div>
</div>