{% extends "base.html" %}
{% load static %}
{% block content%}
<div class="container">
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
var options = {
    "key": "{{razorpay_merchant_key}}",
    "amount": "{{amount}}", 
    "currency":"INR",
    "name": "Anju's Home Decore",
    "description": "Test Transaction",
    "order_id": "{{razorpay_order_id}}", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "callback_url": "{{callback_url}}",
    "theme": {
        "color": "#3399cc"
    }
};
var rzp1 = new Razorpay(options);
document.getElementById('rzp-button1').onclick = function(e){
    rzp1.open();
    e.preventDefault();
}
</script>
</div>
{% endblock content %}
