{% extends "base.html" %}
{% load static %}
{% block content%}
<div class="container" style = "center;color:#d7d7d7">
  <h1 style="text-align:center">Redirecting you to the merchant...</h1>
  <h1 style="text-align:center">Please do not refresh your page...</h1>
  <form action="https://securegw-stage.paytm.in/theia/processTransaction" method="post" name="paytm">
      {% for key, value in param_dict.items %}
      <input type="hidden" name="{{key}}" value="{{value}}">
      {% endfor %}

  </form>
</div>
{% endblock content %}
{% block extra_scripts %}
  <script>
  document.paytm.submit()
  </script>
{% endblock extra_scripts %}
<!--https://securegw.paytm.in/theia/processTransaction-->