{% extends 'base.html' %}
{% load static %}
{% block toggler %}
   		<li class="nav-item"><a class="nav-link" href="{% url 'store:home-page' %}">Home</a>
                    <span class="sr-only">(current)</span>
		</li>
   		<li class="nav-item active"><a class="nav-link" href="{% url 'store:products-list' %}">Products</a>
                    <span class="sr-only">(current)</span>
		</li>
		{% if request.user.is_authenticated %}
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Account</a>
			<span class="sr-only">(current)</span>
			<div class="dropdown-menu">
			<a class="dropdown-item" href="{% url 'store:wishlist' %}">Wishlist</a>
			<a class="dropdown-item" href="{% url 'store:cart-page' %}">Cart</a>
			<a class="dropdown-item" href="{% url 'store:order_history' %}">My Orders</a>
			<a class="dropdown-item" href="{% url 'password_reset' %}">Change credentials</a>
			<a class="dropdown-item" href="{% url 'logout-page' %}">Logout</a>
			</div>
		</li>
		{% else %}
		<li class="nav-item"><a class="nav-link" href="{% url 'login-page' %}">Login</a></li>
		{% endif %}
{% endblock toggler %}
{% block content %}
<div class="page-heading about-heading header-text" style="background-image: url(assets/images/heading-1-1920x500.jpg);">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h3 style="color:#fff">GET TO KNOW MORE!</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-2" style="width:40%">
    	{% if messages %}
        	{% for message in messages %}
        	<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
          	{{ message }}
          	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
            	<span aria-hidden="true">&times;</span>
          	</button>
        	</div>
        	{% endfor %}
    	{% endif %}
    </div>
    <div class="best-features about-features">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h1 style="color:#806200">{{ object.title }}</h1>
            </div>
          </div>
          <div class="col-md-6">
            <div class="right-image" style="width:80%">
              <a href="{{ object.get_absolute_url }}"><img src="{{ object.image.url }}" alt=""></a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="left-content"> 
                <h3 style="color:#806200;">About the product</h3><br>
                <p style="font-size:large; font-weight:500;">
                  {% if object.discount_price %}
                  <small><del>Price:  Rs.{{ object.price|floatformat:2 }}</del></small>
                  Price:  Rs.{{ object.discount_price|floatformat:2 }}
                  {% else %}
                  Price:  Rs.{{ object.price|floatformat:2}}
                  {% endif %}<br>
                  Size:  {{ object.size }}</p> 
                  <div>{{ object.description }}</div>
            </div>
            <ul class="social-icons">
                <li> <a href="{% url 'store:add_wishlist' object.id %}" class="filled-button" style="padding:16px;"><i class="fa fa-heart"></i></a></li>
                <li><a href="{{ object.get_add_to_cart_url }}" class="filled-button" style="padding:16px;"><i class="fa fa-shopping-cart"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
{% endblock content %}
