{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Page Content -->
    <div class="page-heading about-heading header-text" style="background-image: {% static 'images/heading-6-1920x500.jpg' %};">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h2>Products</h2>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="products">
      <div class="container">
        <div class="row">
            {% for item in object_list %}
                <div class="col-md-4">
                    <div class="product-item">
                      <a href="{{ item.get_absolute_url }}"><img src="{% static 'images/product1.jpg' %}" alt=""></a>
                      <div class="down-content">
                        <a href="{{ item.get_absolute_url }}"><h4>{{ item.title }}</h4></a>
                        <h6><!--<small><del>$999.00 </del></small>-->Rs.{{ item.price|floatformat:2 }}</h6>
                        <p>{{ item.description }}</p>
                      </div>
                    </div>
                  </div>
            {% endfor %}

          <div class="col-md-12">
            <ul class="pages">
              <li><a href="#">1</a></li>
              <li class="active"><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!--<footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="inner-content">
              <p>Copyright © 2020 Company Name - Template by: <a href="https://www.phpjabbers.com/">PHPJabbers.com</a></p>
            </div>
          </div>
        </div>
      </div>
    </footer> -->

    <!-- Modal -->
{% endblock content %}
