{% extends 'base.html' %}
{% load static %}
{% load tag %}
{% load crispy_forms_tags %}
{% block toggler %}
   		<li class="nav-item"><a class="nav-link" href="{% url 'store:home-page' %}">Home</a>
                    <span class="sr-only">(current)</span>
		</li>
   		<li class="nav-item active"><a class="nav-link" href="{% url 'store:products-list' %}">Products</a>
                    <span class="sr-only">(current)</span>
		</li>
		{% comment %} <li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">More</a>
			<span class="sr-only">(current)</span>
			<div class="dropdown-menu">
			  <a class="dropdown-item" href="{% url 'store:about-us' %}">About Us</a>
			  <a class="dropdown-item" href="{% url 'store:contact-us' %}">Contact Us</a>
			  <a class="dropdown-item" href="{% url 'store:terms' %}">Terms & Conditions</a>
			</div>
		</li> {% endcomment %}
		{% if request.user.is_authenticated %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Account</a>
        <span class="sr-only">(current)</span>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="{% url 'store:wishlist' %}">Wishlist</a>
          <a class="dropdown-item" href="{% url 'store:cart-page' %}">Cart</a>
          <a class="dropdown-item" href="{% url 'store:order_history' %}">My Orders</a>
          <a class="dropdown-item" href="{% url 'password_reset' %}">Change credentials</a>
          <a class="dropdown-item" href="{% url 'logout-page' %}">Logout</a>
        </div>
    </li>
		{% else %}
		<li class="nav-item"><a class="nav-link" href="{% url 'login-page' %}">Login</a></li>
		{% endif %}
{% endblock toggler %}

{% block content %}
    <!-- Page Content -->
    <div class="page-heading about-heading header-text" style="background-image: {% static 'images/heading-6-1920x500.jpg' %};">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h2>Products</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>

   <!--Filter-->
    
    <div class="container">
      <button class="btn btn-outline-secondary" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Apply filter
      </button>
      <div class="collapse py-3" id="collapseExample">
        <div class="container shadow rounded" style="background-color:#f7f7f7;">
          <div class="row align-items-center text-center">
            <div class="col-sm-3 py-2">
              {{ filter.form.size|as_crispy_field }}
            </div>
            <div class="col-sm-3 py-2">
              {{ filter.form.category|as_crispy_field }}
            </div>
            <div class="col-sm-3 py-2">
              {{ filter.form.sort|as_crispy_field }}
            </div>
            <div class="col-sm-3 py-2">
              <button type="submit" class="btn" style="background-color:#cd9921;color:#fff">Search</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-2 pt-3 d-flex justify-content-center">
    	{% if messages %}
        	{% for message in messages %}
        	<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
          	{{ message }}
          	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
            	<span aria-hidden="true">&times;</span>
          	</button>
        	</div>
        	{% endfor %}
    	{% endif %}
    </div>
   
    <div class="products">
      <div class="container">
        <div class="row">
            {% for item in object_list %}
                <div class="col-md-4">
                    <div class="product-item shadow rounded">
                      <a href="{{ item.get_absolute_url }}"><img src="{{ item.image.url }}" alt=""></a>
                      <div class="down-content">
                        <a href="{{ item.get_absolute_url }}"><h4>{{ item.title }} ({{ item.size }})</h4></a>
                          <h6>
                            {% if item.discount_price %}
                            <small><del>Rs.{{ item.price }}</del></small>Rs.{{ item.discount_price }}
                            {% else %}
                            Rs.{{ item.price}}
                            {% endif %}
                          </h6>
                        <p>{{ item.description|truncatechars:40 }}</p>

                       <ul class="social-icons">
                          <li> 
                            <a href="{% url 'store:add_wishlist' item.id %}" class="filled-button">
                              <i class="fa fa-heart py-2"></i>
                            </a>
                          </li>
                          <li>
                            <a href="{{ item.get_add_to_cart_url }}" class="filled-button">
                              <i class="fa fa-shopping-cart py-2"></i>
                            </a>
                          </li>
                        </ul>

                      </div>
                    </div>
                  </div>
            {% endfor %}

          <div class="col-md-12">
            <ul class="pages">
              {% if is_paginated %}
                {% if page_obj.has_previous %}
                <a class="filled-button" href="?{% param_replace page=page_obj.previous_page_number %}"><<</a>
              {% endif %}
                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                      <a class="filled-button" href="?{% param_replace %}page={{ num }}">{{ num }}</a>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                      <a class="filled-button" href="?{% param_replace %}page={{ num }}">{{ num }}</a>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                <a class="filled-button" href="?{% param_replace page=page_obj.next_page_number %}">>></a>
                {% endif %} 
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}

