{% extends 'base.html' %}
{% load static %}
{% block toggler %}
        <li class="nav-item"><a class="nav-link" href="{% url 'store:home-page' %}">Home</a>
                    <span class="sr-only">(current)</span>
        </li>
        <li class="nav-item active"><a class="nav-link" href="{% url 'store:products-list' %}">Products</a>
                    <span class="sr-only">(current)</span>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">More</a>
            <span class="sr-only">(current)</span>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'store:about-us' %}">About Us</a>
              <a class="dropdown-item" href="{% url 'store:contact-us' %}">Contact Us</a>
              <a class="dropdown-item" href="{% url 'store:terms' %}">Terms & Conditions</a>
            </div>
        </li>
        {% if request.user.is_authenticated %}
        <li class="nav-item"><a class="nav-link" href="{% url 'store:cart-page'%}">Cart</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'logout-page' %}">Logout</a></li>
        {% else %}
        <li class="nav-item"><a class="nav-link" href="{% url 'login-page' %}">Login</a></li>
        {% endif %}
{% endblock toggler %}
{% block content %}
    <!-- Page Content -->
    <div class="page-heading about-heading header-text" style="background-image: {% static 'images/heading-6-1920x500.jpg' %}">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h2>Product details</h2>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="products">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-xs-12">
            <div>
              <img src="{{ object.image.url }}" alt="" class="img-fluid wc-image">
            </div>
            <br>
            <div class="row">
              <div class="col-sm-4 col-xs-6">
                <div>
                  <img src="{{ object.image.url }}" alt="" class="img-fluid">
                </div>
                <br>
              </div>
              <div class="col-sm-4 col-xs-6">
                <div>
                  <img src="{{ object.image.url }}" alt="" class="img-fluid">
                </div>
                <br>
              </div>
              <div class="col-sm-4 col-xs-6">
                <div>
                  <img src="{{ object.image.url }}" alt="" class="img-fluid">
                </div>
                <br>
              </div>
            </div>
          </div>
            <div class="col-md-8 col-xs-12">
            <form action="#" method="post" class="form">
              <h2>{{ object.title }}</h2>

              <br>

              <p class="lead">
                {% if object.discount_price %}
                <small><del>Rs.{{ object.price|floatformat:2 }}</del></small>
                <strong class="text-primary">Rs.{{ object.discount_price|floatformat:2 }}</strong>
                {% else %}
                Rs.{{ object.price|floatformat:2}}
                {% endif %}
              </p>

              <br>

              <p class="lead">
                {{ object.description }}
              </p>
              <br>

             <div class="row">
                <div class="col-sm-4">
                  <label class="control-label">Select size</label>
                  <div class="form-group">
                    <select class="form-control">
                      <option value="0">Bunk</option>
                      <option value="1">Queen</option>
                      <option value="2">King</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-8">
                  <label class="control-label">Quantity</label>

                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="1">
                      </div>
                    </div>

                    <div class="col-sm-6">
                        <a href="{{ object.get_add_to_cart_url }}" class="btn btn-success btn-block">Add to Cart</a>
                        <a href="{{ object.get_remove_from_cart_url }}" class="btn btn-danger btn-block">Remove from cart</a> <!-- check -->
                        </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="latest-products">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Similar Products</h2>
              <a href="{% url 'store:products-list' %}">View More <i class="fa fa-angle-right"></i></a>
            </div>
          </div>
            <div class="col-md-4">
                <div class="product-item">
                  <a href="{{ item.get_absolute_url }}"><img src="{{ object.image.url }}" alt=""></a>
                  <div class="down-content">
                    <a href="{{ item.get_absolute_url }}"><h4>{{ object.title }}</h4></a>
                        <h6>
                            {% if object.discount_price %}
                            <small><del>Rs.{{ object.price }}</del></small>Rs.{{ object.discount_price }}
                            {% else %}
                            Rs.{{ object.price}}
                            {% endif %}
                        </h6>
                    <p>{{ object.description }}</p>
                  </div>
                </div>
              </div>
        </div>
      </div>
    </div>
{% endblock content %}