{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block toggler %}
   		<li class="nav-item"><a class="nav-link" href="{% url 'store:home-page' %}">Home</a>
                    <span class="sr-only">(current)</span>
		</li>
   		<li class="nav-item"><a class="nav-link" href="{% url 'store:products-list' %}">Products</a>
                    <span class="sr-only">(current)</span>
		</li>
		{% if request.user.is_authenticated %}
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Account</a>
			<span class="sr-only">(current)</span>
			<div class="dropdown-menu dropdown-menu-right">
			<a class="dropdown-item" href="{% url 'store:wishlist' %}">Wishlist</a>
			<a class="dropdown-item" href="{% url 'store:cart-page' %}">Cart</a>
			<a class="dropdown-item" href="{% url 'store:order_history' %}">My Orders</a>
			<a class="dropdown-item" href="{% url 'password_reset' %}">Change credentials</a>
			<a class="dropdown-item" href="{% url 'logout-page' %}">Logout</a>
			</div>
		</li>
		{% else %}
		<li class="nav-item active"><a class="nav-link" href="{% url 'login-page' %}">Login</a></li>
		{% endif %}
{% endblock toggler %}
{% block content %}
<br>
<div class="container mt-5 pt-4" style="padding: 10vw;">
    <div class="card shadow rounded m-4" style="background-color:#f7f7f7;">
        <form method="POST">
            {% csrf_token %}
            <div class="container">
                <div class="row">
                    <div class="col-12 py-2">
                        {{ form.username|as_crispy_field }}
                    </div>
                    <div class="col-12 py-2">
                        {{ form.email|as_crispy_field }}
                    </div>
                    <div class="col-12 py-2">
                        {{ form.phone|as_crispy_field }}
                    </div>
                    <div class="col-12 py-2">
                        {{ form.password1|as_crispy_field }}
                    </div>
                    <div class="col-12 py-2">
                        {{ form.password2|as_crispy_field }}
                    </div>
                    <div class="col-12">
                        <button class="btn btn-outline-secondary" type="submit">Sign Up</button>    
                    </div>
                    <div class="row m-1">
                        <div class="col-12 pt-2">
                            <small class="text-muted">
                                Already Have An Account? <a href="{% url 'login-page' %}">Sign In</a>
                            </small>
                        </div>
                    </div>
                </div>    
            </div>
        </form>
    </div>
</div>

{% endblock content %}
