{% extends 'base.html' %}
{% load static %}
{% block toggler %}
        <li class="nav-item"><a class="nav-link" href="{% url 'store:products-list' %}">Products</a>
                    <span class="sr-only">(current)</span>
        </li>
        <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">More</a>
            <span class="sr-only">(current)</span>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'store:about-us' %}">About Us</a>
              <a class="dropdown-item" href="{% url 'store:contact-us' %}">Contact Us</a>
              <a class="dropdown-item" href="{% url 'store:terms' %}">Terms & Conditions</a>
            </div>
        </li>
        {% if request.user.is_authenticated %}
        <li class="nav-item"><a class="nav-link" href="{% url 'store:cart-page'%}">Cart</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'logout-page' %}">Logout</a></li>
        {% else %}
        <li class="nav-item"><a class="nav-link" href="{% url 'login-page' %}">Login</a></li>
        {% endif %}
{% endblock toggler %}
{% block content %}
    <!-- Page Content -->
    <div class="page-heading about-heading header-text" style="background-image: url(assets/images/heading-5-1920x500.jpg);">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h2>Terms</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="team-members">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2 style="color:#806200">TERMS AND CONDITIONS</h2>
            </div>

            <h5 style="color:#806200">Overview</h5>
            <br>

            <p>This Terms of Service Agreement ("Agreement") is entered into by and between AHD, registered address Hotel Geetanjali, Shobhapur Road, India ("Company") and you, and is made effective as of the date of your use of this website "https://www.anjushomedecore.com" ("Site") or the date of electronic acceptance.
            This Agreement sets forth the general terms and conditions of your use of the "https://www.anjushomedecore.com" as well as the products and/or services purchased or accessed through this Site (the "Services").Whether you are simply browsing or using this Site or purchase Services, your use of this Site and your electronic acceptance of this Agreement signifies that you have read, understand, acknowledge and agree to be bound by this Agreement our Privacy policy. The terms "we", "us" or "our" shall refer to Company. The terms "you", "your", "User" or "customer" shall refer to any individual or entity who accepts this Agreement, uses our Site, has access or uses the Services. Nothing in this Agreement shall be deemed to confer any third-party rights or benefits.
            Company may, in its sole and absolute discretion, change or modify this Agreement, and any policies or agreements which are incorporated herein, at any time, and such changes or modifications shall be effective immediately upon posting to this Site. Your use of this Site or the Services after such changes or modifications have been made shall constitute your acceptance of this Agreement as last revised.
            <br><br>
            IF YOU DO NOT AGREE TO BE BOUND BY THIS AGREEMENT AS LAST REVISED, DO NOT USE (OR CONTINUE TO USE) THIS SITE OR THE SERVICES.</p>

            <br>
            <br>

            <h5 style="color:#806200">Refund Policy</h5>
            <br>
            <p>  
              •	Customer can claim a refund or exchange against the product if not satisfied. <br>
              •	Incase of refund the amount will be credited back to customer’s bank account with 30 days of receipt of the product.<br>
              •	The product should now be tampered/used or harmed in any other ways and to be returned as received with the invoice. <br>
              •	Incase of exchange the new product will be delivered in standard delivery time after the receipt of the product returned. <br>
              •	If the product is found tampered with on receipt, no refund or exchange will be given against it.<br>
              •	In case customer wants back the retuned product, the shipment charges will be borne by the customer. <br>
              •	Both options for pick up and self-ship available<br>
            .</p>
            
            <br>
            <br>

            <h5>Lorem ipsum dolor sit amet.</h5>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed voluptate nihil eum consectetur similique? Consectetur, quod, incidunt, harum nisi dolores delectus reprehenderit voluptatem perferendis dicta dolorem non blanditiis ex fugiat. Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, consequuntur, modi mollitia corporis ipsa voluptate corrupti eum ratione ex ea praesentium quibusdam? Aut, in eum facere corrupti necessitatibus perspiciatis quis.</p>
        
            <br>
            <br>

            <h5>Lorem ipsum dolor sit amet.</h5>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo quae eveniet tempora reprehenderit quo, necessitatibus vel sit laboriosam, sunt obcaecati quisquam explicabo voluptatibus earum facilis quidem fuga maiores. Quasi, obcaecati? <br><br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, est officiis. Ipsam quas consequuntur adipisci quis, fuga pariatur eius eveniet qui similique nulla inventore accusantium, suscipit asperiores quibusdam culpa iure!</p>

          </div>
        </div>
      </div>
    </div>
{% endblock %}



