{% extends 'base.html' %}
{% load static %}
{% block toggler %}
   		<li class="nav-item"><a class="nav-link" href="{% url 'store:home-page' %}">Home</a>
                    <span class="sr-only">(current)</span>
		</li>
   		<li class="nav-item"><a class="nav-link" href="{% url 'store:products-list' %}">Products</a>
                    <span class="sr-only">(current)</span>
		</li>
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">More</a>
			<span class="sr-only">(current)</span>
			<div class="dropdown-menu">
			  <a class="dropdown-item" href="{% url 'store:about-us' %}">About Us</a>
			  <a class="dropdown-item" href="{% url 'store:contact-us' %}">Contact Us</a>
			  <a class="dropdown-item" href="{% url 'store:terms' %}">Terms & Conditions</a>
			</div>
		</li>
		{% if request.user.is_authenticated %}
    <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Account</a>
        <span class="sr-only">(current)</span>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="{% url 'store:wishlist' %}">Wishlist</a>
          <a class="dropdown-item" href="{% url 'store:cart-page' %}">Cart</a>
          <a class="dropdown-item" href="{% url 'store:order_history' %}">My Orders</a>
          <a class="dropdown-item" href="{% url 'password_reset' %}">Change credentials</a>
        </div>
    </li>
		<li class="nav-item"><a class="nav-link" href="{% url 'logout-page' %}">Logout</a></li>
		{% else %}
		<li class="nav-item"><a class="nav-link" href="{% url 'login-page' %}">Login</a></li>
		{% endif %}
{% endblock toggler %}
{% block content %}
<div class="col-12 mx-auto">
  <h1 class="h3">My Wishlist</h1>
  <div>Manage your Wishlist</div>
  <hr />

  {% if wishlist %}
  {% for product in wishlist  %}

  <div class="card mb-3 rounded-0">
    <div class="row g-0">
      <div class="col-md-4 col-xs-12">
              <img src="{{ product.image.url }}" alt="" class="img-fluid wc-image">
        </div>
      <div class="col-md-10">
        <div class="card-body">
          <h5 class="card-title">{{product.title}}</h5>
          <p class="card-text">{{product.description}}</p>
          <p class="card-text"><small class="text-muted">{{product.price}}</small></p>
          <a type="button" class="btn btn-primary fw500 btn-sm" href="{% url 'store:add_wishlist' product.id %}">Remove from Wishlist</a>
        </div>
      </div>
    </div>
  </div>

  {% endfor %}
  {% else %}
  <p class="card-text">No products have been added to your wishlist yet</p>
  {% endif %}



</div>
{% endblock content%}

